<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  IgnorableNamespaces="uap rescap uap3 mp">

  <Identity
    Name="C6218F8A.LiveAssistant"
    Publisher="CN=1A5EB892-3A4A-4954-A376-66602BD00D72"
    Version="0.15.1.0" />

  <Properties>
    <DisplayName>Live Assistant</DisplayName>
    <PublisherDisplayName>CIDO Co., Ltd.</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="ms-resource:AppDisplayName"
        Description="ms-resource:AppDescription"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="app.live-assistant.windows">
            <uap:DisplayName>ms-resource:AppDisplayName</uap:DisplayName>
            <uap:Logo>Images\Package\VisualTemplateIcon.png</uap:Logo>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="live-assistant-overlay-package">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="application/zip">.ovpak</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>ms-resource:OverlayPackageFileName</uap:DisplayName>
            <uap:Logo>Images\OverlayPackage.png</uap:Logo>
            <uap:InfoTip>ms-resource:OverlayPackageFileName</uap:InfoTip>
            <uap:EditFlags OpenIsSafe="true"/>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="live-assistant-emote-package">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="application/zip">.empak</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>ms-resource:EmotePackageFileName</uap:DisplayName>
            <uap:InfoTip>ms-resource:EmotePackageFileName</uap:InfoTip>
            <uap:Logo>Images\EmotePackage.png</uap:Logo>
            <uap:EditFlags OpenIsSafe="true"/>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="internetClientServer"/>
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <DeviceCapability Name="microphone"/>
  </Capabilities>

  <mp:PhoneIdentity PhoneProductId="984c63af-29d2-4f0c-bcab-4d78f5a463d7" PhonePublisherId="0dfc6f29-ad32-4c18-acb7-09b3f71de3e3" />
</Package>
